html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pretty-container {
  width: 100%;
  background: linear-gradient(to right, #df967e, #65a1dd); /* Gradient background */
  box-shadow: 0 4px 8px rgba(160, 16, 16, 0.9); /* Subtle shadow */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
}